.logout {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #4183c4;
  text-decoration: none;
  cursor: pointer;
}

.productInfoImage {
  max-width: 400px;
}