body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  
  object-fit: scale-down;
}

.ad-image{
  margin: 10px auto;
  display: block;
}

.sunglass-link{
  color: black;
}

.aboutus-link{
  color: black;
}

.signup-link{
  color: black;
}

.login-link{
  color: black;
}

.logout {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.loading{
  margin: auto;
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.search-input {
  float: right;
}

.filter-input {
  float: left;
}

.inputs {
  clear: both;
  overflow: hidden;
  margin: 20px 11% 0;
}

.header-1 {
  text-align: center;
  border-bottom: double black 6px;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: didot;
}

.nav-links {
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-us-text{
  text-align: center;
  margin: 0px 25%;
  font-family: optima;
  font-size: 22px;
  margin-top: 3%;
}

.float {
  float: right;
  margin-left: 30px;
}
.clearboth {
  clear: both;
}
.modal-content {
  border-bottom: solid grey 1px;
}
.reviewcartbtn {
  float: right;
}
.hideoverflow {
  overflow: hidden;
  clear: both;
  /* margin: 0px 5%; */
}

.form-modal {
  margin: 0px 5%;
}

.addtocartholder {
  text-align: center;
}

.confirmation-page {
  text-align: center;
  margin-top: 3%;
}

.format-forms {
  margin: 0px 5%;
}

.product-info-cont {
  margin: 0px 5%;
}

.desc-tag {
  font-weight: bold;
}

.cart-margin {
  margin: 3% 5% 0px;
}