body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  
  object-fit: scale-down;
}

.ad-image{
  margin: 10px auto;
  display: block;
}

/* .sunglass-link{
  color: red;
} */

.loading{
  margin: auto;
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.search-input {
  float: right;
}

.filter-input {
  float: left;
}

.inputs {
  clear: both;
  overflow: hidden;
  margin: 20px 11% 0;
}

.header-1 {
  text-align: center;
  border-bottom: double black 6px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.nav-links {
  margin-top: 0px;
  margin-bottom: 0px;
}